# Docker
IMAGE_NAME=shot-of-fancy-thing
VERSION=1.0.0
HOST_PORT=3000
CONTAINER_PORT=3000

# Node
NODE_ENV=production

# Nuxt
NUXT_PUBLIC_I18N_BASE_URL=https://sft.com
NUXT_APP_CDN_URL=/
NUXT_SITE_ENV=production
NUXT_SITE_URL=https://sft.com
NUXT_SITE_NAME=SFT
NUXT_OG_IMAGE_SECRET=your-secret

# Nitro
NITRO_PORT=7575
NITRO_HOST=127.1.0.10
