@layer theme, utilities;

/* *The preflight styles are imported separately because they would otherwise conflict with our styles.  */
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@theme {
  --font-sans: var(--font-onest);

  /* =======================
    Font size
  ======================= */

  /* Desktop */
  --text-h1: 60px;
  --text-h1--line-height: 1.2;
  --text-h1--font-weight: 500;
  --text-h2: 40px;
  --text-h2--line-height: 1.2;
  --text-h2--font-weight: 500;
  --text-h3: 30px;
  --text-h3--line-height: 1.2;
  --text-h3--font-weight: 500;
  --text-h4: 20px;
  --text-h4--line-height: 1.3;
  --text-h4--font-weight: 500;
  --text-p: 18px;
  --text-p--line-height: 1.2;
  --text-p--font-weight: 400;

  /* Mobile */
  --text-m-h1: 43px;
  --text-m-h1--line-height: 1.2;
  --text-m-h1--font-weight: 500;
  --text-m-h2: 36px;
  --text-m-h2--line-height: 1.2;
  --text-m-h2--font-weight: 500;
  --text-m-h3: 26px;
  --text-m-h3--line-height: 1.3;
  --text-m-h3--font-weight: 500;
  --text-m-h4: 18px;
  --text-m-h4--line-height: 1.2;
  --text-m-h4--font-weight: 500;
  --text-m-p: 16px;
  --text-m-p--line-height: 1.4;
  --text-m-p--font-weight: 400;

  /* =======================
    Breakpoints
  ======================= */
  --breakpoint-xs: 375px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1440px;
  --breakpoint-2xl: 1920px;

  /* =======================
    Colors
  ======================= */
  --color-white: oklch(100% 0.00011 271.152deg);
  --color-black: oklch(0% 0 0deg);
  --color-accent-green: oklch(92.366% 0.19581 130.249deg);
  --color-bg-strong: oklch(22.091% 0.01764 279.877deg);
  --color-bg-surface: oklch(96.416% 0.00011 271.152deg);
  --color-dark-bg-strong: oklch(31.927% 0.01803 276.41deg);
  --color-dark-bg-surface: oklch(27.046% 0.01698 275.356deg);
  --color-dark-bg-page: oklch(17.888% 0.01042 276.381deg);

  /* =======================
    Transitions
  ======================= */
  --transition-duration-fast: 150ms;
  --transition-duration-base: 250ms;
  --transition-duration-slow: 400ms;
  --transition-timing-function-standard: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-timing-function-smooth: cubic-bezier(0.22, 1, 0.36, 1);
}

@layer base {
  :root {
    font-family: var(--font-sans), sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
  }
}
