@layer theme, utilities;

@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@theme static {
  --font-sans: var(--font-onest);

  /* =======================
    Font size
  ======================= */

  /* Desktop */
  --text-h1: 60px;
  --text-h1--line-height: 1.2;
  --text-h1--font-weight: 500;
  --text-h2: 40px;
  --text-h2--line-height: 1.2;
  --text-h2--font-weight: 500;
  --text-h3: 30px;
  --text-h3--line-height: 1.2;
  --text-h3--font-weight: 500;
  --text-h4: 20px;
  --text-h4--line-height: 1.3;
  --text-h4--font-weight: 500;
  --text-p-large: 20px;
  --text-p-large--line-height: 1.4;
  --text-p-large--font-weight: 400;
  --text-p: 18px;
  --text-p--line-height: 1.2;
  --text-p--font-weight: 400;

  /* Mobile */
  --text-m-h1: 43px;
  --text-m-h1--line-height: 1.2;
  --text-m-h1--font-weight: 500;
  --text-m-h2: 36px;
  --text-m-h2--line-height: 1.2;
  --text-m-h2--font-weight: 500;
  --text-m-h3: 26px;
  --text-m-h3--line-height: 1.3;
  --text-m-h3--font-weight: 500;
  --text-m-h4: 18px;
  --text-m-h4--line-height: 1.2;
  --text-m-h4--font-weight: 500;
  --text-m-p-large: 16px;
  --text-m-p-large--line-height: 1.5;
  --text-m-p-large--font-weight: 400;
  --text-m-p: 16px;
  --text-m-p--line-height: 1.4;
  --text-m-p--font-weight: 400;

  /* =======================
    Breakpoints
  ======================= */

  --breakpoint-xs: 375px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1440px;
  --breakpoint-2xl: 1440px;

  /* =======================
    Colors
  ======================= */

  --color-white: oklch(100% 0.00011 271.152deg);
  --color-black: oklch(0% 0 0deg);
  --color-accent-green: oklch(92.366% 0.19581 130.249deg);
  --color-bg-strong: oklch(22.091% 0.01764 279.877deg);
  --color-bg-surface: oklch(96.416% 0.00011 271.152deg);

  /* =======================
    Transitions
  ======================= */

  --transition-duration-fast: 150ms;
  --transition-duration-base: 250ms;
  --transition-duration-slow: 400ms;
  --ease-standard: cubic-bezier(0.4, 0, 0.2, 1);
  --ease-smooth: cubic-bezier(0.22, 1, 0.36, 1);

  /* =======================
    Keyframes
  ======================= */

  --animate-shift-3d: shift-3d 1s infinite alternate;

  @keyframes shift-3d {
    0% {
      transform: translate3d(0, 0, 0);
    }

    25% {
      transform: translate3d(var(--shift-3d-x-to), var(--shift-3d-y-to), 0);
      animation-timing-function: step-end;
    }

    50% {
      transform: translate3d(var(--shift-3d-x-from), var(--shift-3d-y-from), 0);
    }

    100% {
      transform: translate3d(0, 0, 0);
    }
  }
}

@layer base {
  :root {
    font-family: var(--font-sans), sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
  }
}

@utility container-xl {
  width: 100%;
  max-width: 1240px;
  margin-inline: auto;
  padding-inline: 20px;
}

@utility icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin: 0;
  padding: 0;
}
